<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Prediction of each category of event showing Revenue,popularity,new york,california,ohio ">
    <meta name="author" content="Team11">
    <meta name="keyword" content="Revenue,popularity,new york,california,ohio">
    <title>Recommend best place to host event</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">	
	<link href="css/responsive.css" rel="stylesheet">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!--<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">-->
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="/js/googleTracker.js"></script>
<script type="text/javascript">
function report(period) {
	
	var value =period ;
	if (period=="music")
		{
		document.getElementById("demo").innerHTML = "Best State To Host Music Events: CALIFORNIA";
$(function(){
    $('#left').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Revenue Generated, 2014'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Revenu',
            data: [
                ['CA',   45.0],
                ['TX',   20.0],
                ['NY',    35.0],
               ]
        }]
    });
});


	
	$(function () {
		    $('#right').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Popularity by State'
		        },
		        subtitle: {
		            text: 'No. of people attended in 2014 '
		        },
		        xAxis: {
		            type: 'category',
		            labels: {
		                rotation: -45,
		                style: {
		                    fontSize: '13px',
		                    fontFamily: 'Verdana, sans-serif'
		                }
		            }
		        },
		        yAxis: {
		            min: 0,
		            title: {
		                text: 'No. of people (thousands)'
		            }
		        },
		        legend: {
		            enabled: false
		        },
		        tooltip: {
		            pointFormat: 'People attended: <b>{point.y:.1f} thousands</b>'
		        },
		        series: [{
		            name: 'Popularity',
		            data: [
		                ['CA', 170.7],
		                ['NY', 120.1],
		                ['TX',99.2],
		                		                
		            ],
		            dataLabels: {
		                enabled: true,
		                rotation: -90,
		                color: '#FFFFFF',
		                align: 'right',
		                format: '{point.y:.1f}', // one decimal
		                y: 10, // 10 pixels down from the top
		                style: {
		                    fontSize: '13px',
		                    fontFamily: 'Verdana, sans-serif'
		                }
		            }
		        }]
		    });
		});
		

		}
	
	else if(period == "art")
		{
		document.getElementById("demo").innerHTML = "Best State To Host art Events: MICHIGAN ";
		
		$(function(){
		    $('#left').highcharts({
		        chart: {
		            plotBackgroundColor: null,
		            plotBorderWidth: null,
		            plotShadow: false
		        },
		        title: {
		            text: 'Revenue Generated, 2014'
		        },
		        tooltip: {
		            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		        },
		        plotOptions: {
		            pie: {
		                allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            type: 'pie',
		            name: 'Revenu',
		            data: [
		                ['MI',   35.0],
		                ['IN',   25.0],
		                ['PA',   20.0]
		               ]
		        }]
		    });
		});


			
			$(function () {
				    $('#right').highcharts({
				        chart: {
				            type: 'column'
				        },
				        title: {
				            text: 'Popularity by State'
				        },
				        subtitle: {
				            text: 'No. of people attended in 2014 '
				        },
				        xAxis: {
				            type: 'category',
				            labels: {
				                rotation: -45,
				                style: {
				                    fontSize: '13px',
				                    fontFamily: 'Verdana, sans-serif'
				                }
				            }
				        },
				        yAxis: {
				            min: 0,
				            title: {
				                text: 'No. of people (thousands)'
				            }
				        },
				        legend: {
				            enabled: false
				        },
				        tooltip: {
				            pointFormat: 'People attended: <b>{point.y:.1f} thousands</b>'
				        },
				        series: [{
				            name: 'Popularity',
				            data: [
				                ['IN', 90.3],
				                ['MI',160.4],
				                ['PA',80.8]		                
				            ],
				            dataLabels: {
				                enabled: true,
				                rotation: -90,
				                color: '#FFFFFF',
				                align: 'right',
				                format: '{point.y:.1f}', // one decimal
				                y: 10, // 10 pixels down from the top
				                style: {
				                    fontSize: '13px',
				                    fontFamily: 'Verdana, sans-serif'
				                }
				            }
				        }]
				    });
				});

		
		}
	
	else if(period == "beer")
	{
		document.getElementById("demo").innerHTML = "Best State To Host beer Events: OREGON ";
		
		$(function(){
		    $('#left').highcharts({
		        chart: {
		            plotBackgroundColor: null,
		            plotBorderWidth: null,
		            plotShadow: false
		        },
		        title: {
		            text: 'Revenue Generated, 2014'
		        },
		        tooltip: {
		            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		        },
		        plotOptions: {
		            pie: {
		                allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            type: 'pie',
		            name: 'Revenu',
		            data: [
		                ['CO',   18.0],
		                ['TX',   34.0],
		                ['OR',   48.0],
		                
		                ]
		        
		        }]
		    });
		});


			
			$(function () {
				    $('#right').highcharts({
				        chart: {
				            type: 'column'
				        },
				        title: {
				            text: 'Popularity by State'
				        },
				        subtitle: {
				            text: 'No. of people attended in 2014 '
				        },
				        xAxis: {
				            type: 'category',
				            labels: {
				                rotation: -45,
				                style: {
				                    fontSize: '13px',
				                    fontFamily: 'Verdana, sans-serif'
				                }
				            }
				        },
				        yAxis: {
				            min: 0,
				            title: {
				                text: 'No. of people (thousands)'
				            }
				        },
				        legend: {
				            enabled: false
				        },
				        tooltip: {
				            pointFormat: 'People attended: <b>{point.y:.1f} thousands</b>'
				        },
				        series: [{
				            name: 'Popularity',
				            data: [
									['CO',   123.5],
									['TX',   154.8],
									['OR',   240.9],		                
				            ],
				            dataLabels: {
				                enabled: true,
				                rotation: -90,
				                color: '#FFFFFF',
				                align: 'right',
				                format: '{point.y:.1f}', // one decimal
				                y: 10, // 10 pixels down from the top
				                style: {
				                    fontSize: '13px',
				                    fontFamily: 'Verdana, sans-serif'
				                }
				            }
				        }]
				    });
				});

	
	}
	
	else if (period == "science")
	{
		document.getElementById("demo").innerHTML = "Best State To Host science Events: NEW YORK";
		
		$(function(){
		    $('#left').highcharts({
		        chart: {
		            plotBackgroundColor: null,
		            plotBorderWidth: null,
		            plotShadow: false
		        },
		        title: {
		            text: 'Revenue Generated, 2014'
		        },
		        tooltip: {
		            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		        },
		        plotOptions: {
		            pie: {
		                allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            type: 'pie',
		            name: 'Revenu',
		            data: [
		                ['NY',   45.0],
		                ['DC',   30.0],
		                ['GA',   25.0],
		                ]
		        
		        }]
		    });
		});


			
			$(function () {
				    $('#right').highcharts({
				        chart: {
				            type: 'column'
				        },
				        title: {
				            text: 'Popularity by State'
				        },
				        subtitle: {
				            text: 'No. of people attended in 2014 '
				        },
				        xAxis: {
				            type: 'category',
				            labels: {
				                rotation: -45,
				                style: {
				                    fontSize: '13px',
				                    fontFamily: 'Verdana, sans-serif'
				                }
				            }
				        },
				        yAxis: {
				            min: 0,
				            title: {
				                text: 'No. of people (thousands)'
				            }
				        },
				        legend: {
				            enabled: false
				        },
				        tooltip: {
				            pointFormat: 'People attended: <b>{point.y:.1f} thousands</b>'
				        },
				        series: [{
				            name: 'Popularity',
				            data: [
									['NY',   175.5],
									['DC',   120.3],
									['GA',   90.4],		                
				            ],
				            dataLabels: {
				                enabled: true,
				                rotation: -90,
				                color: '#FFFFFF',
				                align: 'right',
				                format: '{point.y:.1f}', // one decimal
				                y: 10, // 10 pixels down from the top
				                style: {
				                    fontSize: '13px',
				                    fontFamily: 'Verdana, sans-serif'
				                }
				            }
				        }]
				    });
				});

	
	}
	
	else if (period == "holiday")
	{
		document.getElementById("demo").innerHTML = "Best State To Host holiday Events: Louisiana";
		
		$(function(){
		    $('#left').highcharts({
		        chart: {
		            plotBackgroundColor: null,
		            plotBorderWidth: null,
		            plotShadow: false
		        },
		        title: {
		            text: 'Revenue Generated, 2014'
		        },
		        tooltip: {
		            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		        },
		        plotOptions: {
		            pie: {
		                allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            type: 'pie',
		            name: 'Revenu',
		            data: [
		                ['LA',   60.0],
		                ['AL',   40.0],
		                ]
		        
		        }]
		    });
		});


			
			$(function () {
				    $('#right').highcharts({
				        chart: {
				            type: 'column'
				        },
				        title: {
				            text: 'Popularity by State'
				        },
				        subtitle: {
				            text: 'No. of people attended in 2014 '
				        },
				        xAxis: {
				            type: 'category',
				            labels: {
				                rotation: -45,
				                style: {
				                    fontSize: '13px',
				                    fontFamily: 'Verdana, sans-serif'
				                }
				            }
				        },
				        yAxis: {
				            min: 0,
				            title: {
				                text: 'No. of people (thousands)'
				            }
				        },
				        legend: {
				            enabled: false
				        },
				        tooltip: {
				            pointFormat: 'People attended: <b>{point.y:.1f} thousands</b>'
				        },
				        series: [{
				            name: 'Popularity',
				            data: [
									['LA',   200.5],
									['AL',   130.3],		                
				            ],
				            dataLabels: {
				                enabled: true,
				                rotation: -90,
				                color: '#FFFFFF',
				                align: 'right',
				                format: '{point.y:.1f}', // one decimal
				                y: 10, // 10 pixels down from the top
				                style: {
				                    fontSize: '13px',
				                    fontFamily: 'Verdana, sans-serif'
				                }
				            }
				        }]
				    });
				});

	
	}

	else if (period == "sport")
	{
		document.getElementById("demo").innerHTML = "Best State To Host sport Events: OHIO";
		
		$(function(){
		    $('#left').highcharts({
		        chart: {
		            plotBackgroundColor: null,
		            plotBorderWidth: null,
		            plotShadow: false
		        },
		        title: {
		            text: 'Revenue Generated, 2014'
		        },
		        tooltip: {
		            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		        },
		        plotOptions: {
		            pie: {
		                allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    style: {
		                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
		                    }
		                }
		            }
		        },
		        series: [{
		            type: 'pie',
		            name: 'Revenu',
		            data: [
		                ['OH',   55.0],
		                ['WV',   25.0],
		                ['TX',   20.0],
		                
		                ]
		        
		        }]
		    });
		});


			
			$(function () {
				    $('#right').highcharts({
				        chart: {
				            type: 'column'
				        },
				        title: {
				            text: 'Popularity by State'
				        },
				        subtitle: {
				            text: 'No. of people attended in 2014 '
				        },
				        xAxis: {
				            type: 'category',
				            labels: {
				                rotation: -45,
				                style: {
				                    fontSize: '13px',
				                    fontFamily: 'Verdana, sans-serif'
				                }
				            }
				        },
				        yAxis: {
				            min: 0,
				            title: {
				                text: 'No. of people (thousands)'
				            }
				        },
				        legend: {
				            enabled: false
				        },
				        tooltip: {
				            pointFormat: 'People attended: <b>{point.y:.1f} thousands</b>'
				        },
				        series: [{
				            name: 'Popularity',
				            data: [
									['OH',   200.0],
									['WV',   125.0],
									['TX',   99.0],											                
				            ],
				            dataLabels: {
				                enabled: true,
				                rotation: -90,
				                color: '#FFFFFF',
				                align: 'right',
				                format: '{point.y:.1f}', // one decimal
				                y: 10, // 10 pixels down from the top
				                style: {
				                    fontSize: '13px',
				                    fontFamily: 'Verdana, sans-serif'
				                }
				            }
				        }]
				    });
				});

	
	}

	
}


</script>
</head>
<body>
	<header id="header" role="banner">		
		<div class="main-nav">
			<div class="container">
				<div class="header-top">
					
				</div>     
		        <div class="row">	        		
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="http://evento-eventocmpe280.rhcloud.com/">
		                	<img class="img-responsive" src="images/logo.png" alt="logo">
		                </a> 
						
		            </div>
					
		        </div>
	        </div>
        </div>                    
    </header>

<section id="home">	
		<div id="main-slider" class="carousel slide" data-ride="carousel">
			
				
					<img src="images/slider/america.jpg" height="550" alt="map">						
					<div class="carousel-caption" style="bottom: 50%; margin-left:450px;">
						<h2>Select Event category </h2>
						<select name="aa" onchange="report(this.value)" style="width: 500px;color:black;"> 
					    <option value="" style="color:black;">Select Festival </option>
						<option value="art" style="color:black;">Art and Music Festival </option>
						<option value="beer" style="color:black;">Beer Festivals</option>
						<option value="holiday" style="color:black;">Holiday Festivals</option>
						<option value="music" style="color:black;">Music Festivals</option>
						<option value="science" style="color:black;">Science Festivals</option>
						<option value="sport" style="color:black;">Sport Festivals</option>
						</select>
				</div>
				
				<center><p id="demo" style = "background: none repeat scroll 0 0 #000000;left: 0;  opacity: 0.8;  padding:10px 60px 35px;  right: inherit;  text-transform: uppercase;  color: #fff;  text-align: center;"></p></center>
				

		</div>



<div id="container">


<div id="left" style=" float: left; min-width: 200xp; height: 300px; max-width: 400px; margin: auto"></div>
<div id="right" style="float: right; min-width: 200xp; height: 300px; max-width: 350px; margin-right: 300px"></div>

</div>
</section>

<footer id="footer">
        <div class="container">
            <div class="text-center">
                <p> Copyright  &copy;2015 Evento Theme. All Rights Reserved. <br> Designed by Cmpe280 team</p>                
            </div>
            <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
<a class="twitter-share-button"
  href="https://twitter.com/share">
Tweet
</a>
<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-annotation="inline" data-width="300"></div>
<a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png" /></a>
<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
        </div>
</footer>
    <!--/#footer-->


</body>
</html>

